.carousel {

  overflow: hidden;

  &__images {
    display: flex;
    height: 100%;
    transition: all .35s ease;
  }

  &__nav {
    display: flex;
    flex-direction: column;
  }

  &__image {
    max-width: 100%;
    height: auto;
  }

}