$font-primary: 'Open Sans', 'Open Sans Condensed', 'Helvetica', 'Verdana', 'Arial';
$font-secondary: 'Open Sans Condensed', $font-primary;
$font-tertiary: 'Playfair Display', $font-primary;

$color-primary: rgb(104, 104, 104);
$color-secondary: rgb(96, 136, 148);